{% extends "cms/base.html" %}
{% load bootstrap4 %}

{% block title %}서평 편집{% endblock title %}
{% block today %}{% endblock today %}

{% block content %}
    <h1 class="mt-4 border-bottom"> 서평 편집 </h1>
    {% if impression_id %}
        <form action="{% url 'cms:impression_mod' book_id=book_id impression_id=impression_id %}" method="post">
    {% else %}
        <form action="{% url 'cms:impression_add' book_id=book_id %}" method="post">
    {% endif %}
        {% csrf_token %}

        {% bootstrap_form form layout='horizontal' %}
        <div class="form-group row">
            <div class="offset-md-3 col-md-9">
                <button type="submit" class="btn btn-primary">저장</button>
            </div>
        </div>
        </form>
        <a href="{% url 'cms:impression_list' book_id=book_id %}" class="btn btn-primary">목록</a>
{% endblock content %}